#root {
  width: 100vw;
}

.Bod {
  height: 100vh;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  background-color: #F5F5F5;
  border-radius: 10px;
  transition: 0.3s;
}

h3 {
  text-align: right;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 25px;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.Buttons {
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 25px;
  color: #F5F5F5;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.count {
  text-align: right;
  margin-bottom: 20px;
}

/* button:hover {
  color: rgba(255, 0, 0, 0.353);
  background-color: rgba(255, 0, 0, 0.088);
} */

/* .disable {
  background-color: rgba(255, 0, 0, 0.109);
} */